<!DOCTYPE html>
<html lang="en" ng-app="des_sobre_app">
	<head>
		<meta charset="UTF-8" />
		<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" />

		<script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="http://getbootstrap.com/dist/css/bootstrap.min.css"></link>
		
	    <script type="text/javascript" src="https://pkijs.org/examples/org/pkijs/common.js"></script>
	    <script type="text/javascript" src="https://pkijs.org/examples/org/pkijs/asn1.js"></script>
	    <script type="text/javascript" src="https://pkijs.org/examples/org/pkijs/x509_schema.js"></script>
	    <script type="text/javascript" src="https://pkijs.org/examples/org/pkijs/x509_simpl.js"></script>
	    <script type="text/javascript" src="https://pkijs.org/examples/org/pkijs/cms_schema.js"></script>
	    <script type="text/javascript" src="https://pkijs.org/examples/org/pkijs/cms_simpl.js"></script>
	    <script type="text/javascript" src="https://pkijs.org/examples/org/pkijs/ocsp_tsp_schema.js"></script>
	    <script type="text/javascript" src="https://pkijs.org/examples/org/pkijs/ocsp_tsp_simpl.js"></script>

		<script type="text/javascript" src="DES_ensobreta_mesta.js"></script>
		
	</head>
	<body ng-controller="des_sobreCtrl">

		<form id="formDesSobre" name="formDesSobre" novalidate>		
	
			<div class="form-group">
				<b>Envelop:</b> <br />
				<textarea rows="3" cols="150" id="el_pinche_envelop"></textarea>
			</div>

			<div class="form-group">
				<label for="cert">Cert:</label>
				<input id="cert" type="file" accept=".cer" required />
			</div>

			 <div class="form-group">
				<label for="key">Key:</label>
				<input id="key" type="file" accept=".key" required />
			</div> 
			
			<div class="form-group">
				<label for="password">Password:</label>
				<input id="password" type="password" ng-model="password" required />
			</div> 
			
			<hr />

			<!-- ng-disabled="formFirma.$invalid"  -->
			<p align="center">
				<button ng-click="abreSobre()" class="btn btn-success">Open it!</button>
			</p>
			
			<br />
			<div style="padding-left: 30px;">

				<b>Cert B64:</b> <br />
				<textarea rows="5" cols="150" readonly id="cert_b64"></textarea>

				<br />
				<b>Key B64:</b> <br />
				<textarea rows="5" cols="150" readonly id="key_b64"></textarea> 

				<br />
				<b>File B64: *ESTE ES TU ARCHIVO ORIGINAL* </b> <br />
				<textarea rows="5" cols="150" readonly id="file_b64" style="border-color: red;"></textarea>

			</div>
		</form>
		
	</body>
</html>